.itemTitle {
  text-align: center;
}

.itemDesc {
  display: flex;
  justify-content: center;
}

.cart {
  display: flex;
  justify-content: center;
  width: 70%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  background-color: teal;
  border: 0px;
  border-radius: 25px;
}

.cart:active {
  background-color: gainsboro;
}

.cart:hover {
  cursor: pointer;
}
